/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
/node_modules/
/public/app.js
/public/app.html
/public/vendor
/lib/carte/shared/custom.json
.env
