!!! 5
%html
  %head
    %meta{charset:"utf-8"}
    %title= settings.carte['title']
    %meta{name:"viewport",content:"width=device-width,initial-scale=1.0"}
    %meta{name:"description",content:settings.carte['description']}
    %script{type:"text/javascript",src:"/app.js"}
    :css
      .navbar-default a,
      .navbar-default a:hover,
      .navbar-default a:visited,
      .navbar-default a:active,
      .nav-pills a,
      .nav-pills a:hover,
      .nav-pills a:visited,
      .nav-pills a:active,
      .tools a,
      .tools a:hover,
      .tools a:visited,
      .tools a:active
      {
        color: #333333 !important;
        text-decoration: none !important;
      }
      a, a:hover, a:visited, a:active {
        color: #{settings.carte['link_color']}; 
      }
      .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
      }
      @-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
      }
      @keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
      }
  %body
    #app
