!!! 5
%html
  %head
    %meta{charset:"utf-8"}
    %title= config['title']
    %meta{name:"viewport",content:"width=device-width,initial-scale=1.0"}
    %meta{name:"description",content:config['description']}
    %script{type:"text/javascript",src:"/app.js"}
    :css
      a {
        color: #{config['link_color']};
        text-decoration: none;
      }
      a:hover,
      a:focus {
        color: #{config['link_active_color']};
        text-decoration: underline;
      }
  %body
    #app
